@page "/adminproducts/{id:int}"
@using ProductShopDemo.DTO
@using ProductShopDemo.Models
@using ProductShopDemo.Services
@inject IProductService ProductService
@inject NavigationManager NavigationManager

<div>
<h1>Product Details</h1>

@if (productModel == null)
{
    <p>Loading...</p>
}
else
{
    <h2>@productModel.Name</h2>
    <p>@productModel.Description</p>
    <p>Price: @productModel.Price</p>
    <p>Type: @productModel.ProductSubtype.ProductType.Name</p>
    <p>Subtype: @productModel.ProductSubtype.Name</p>
}
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private ProductDTO? productModel;

    protected override async Task OnInitializedAsync()
    {
        productModel = await ProductService.GetProductAsync(Id);
    }
}
